 
 {% load static %} 
 <link rel="stylesheet" href="{% static 'Statics/signup.css' %}">
 {% block start %}
<div class="container d-flex justify-content-center">
  <form class="card col-sm-12 p-5 shadow-lg center p-md-5" method="POST">
    {% csrf_token %}
    <h3 class="h text-center card-title">Sign Up</h3>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Errors:</strong>
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="form-group mb-3">
      <label for="{{ form.username.id_for_label }}"
        >{{ form.username.label }}</label
      >

      {{ form.username}} {% for error in form.username.errors %}
      <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group mb-3">
      <label for="{{ form.email.id_for_label }}"
        >{{ form.email.label }}</label
      >

      {{ form.email }}
      {% for error in form.email.errors %}
      <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group mb-3">
      <label for="{{ form.password1.id_for_label }}"
        >{{ form.password1.label }}</label
      >

      {{ form.password1 }} 
      {% for error in form.password1.errors %}
      <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group mb-3">
      <label for="{{ form.password2.id_for_label }}"
        >{{ form.password2.label }}</label
      >

      {{ form.password2}} 
      {% for error in form.password2.errors %}
      <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>

    <p class="text-center mt-3">
      Already have an account?
      <a href="{% url 'user_login' %}" class="text-decoration-none">Log In</a>
    </p>
  </form>
</div>

{% endblock start %}
